@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;500;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

ul {
    list-style: none;
}

li {
    padding: 0;
}


.narrow {
    padding-left: 30vh;
    padding-right: 30vh;
}

.narrow-2 {
    padding-left: 40vh;
    padding-right: 40vh;
}



@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    .narrow {
        padding-left: 1vh;
        padding-right: 1vh;
    }
    .narrow-2 {
        padding-left: 5vh;
        padding-right: 5vh;
    }
}

/* HEADER */

header.header {
    color: #f9faf8;    
    background-color: #1f2937;
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
    padding-bottom: 10px;
}

.logo {
    font-size: 24px;
    font-weight: 800;
    color: #f9faf8;    
}

.links {
    display: flex; 
    gap: 24px;
    font-weight: 300;
}


.links a {
    text-decoration: none;
    color: #f9faf8;
}

.links a:hover {
    text-decoration: none;
    color: #afafaf;
}



/* OPENING */


.opening {
    color: white;
    background-color: #1f2937;
    display: flex;   
    gap: 16px;

    padding-top: 100px;
    padding-bottom: 100px;  
}


.opening h1 {
    font-size: 48px;
    font-weight: 900;
    color: #f9f1f8;
}

.opening p {
    font-size: 18px;
    font-weight: 300;
    color: #e5e7eb;
    margin-bottom: 10px;
}


.opening .left {
    flex: 1;
}

.opening .right {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center ;
    background-color: grey;
    font-weight: 300;
}

.signup-button {
    color: white;
    font-size: 16px;
    background-color: #3882f6;
    text-align: center;
    padding: 8px 32px;
    border: none;
    border-radius: 5px;
}


/* INFO */


.info {
    /* padding-top: 100px; */
    padding-bottom: 100px;  
}

.info h2 { 
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;
}

.info-pic-list {
    display: flex;
    gap: 48px;
    justify-content: space-around;
    
}

.info-pic {
    border: 4px solid rgb(35, 111, 224);
    /* height: 150px;
    width: 100%; */
    flex: 1 0 auto;
    aspect-ratio: 1/1;
    border-radius: 10px;;
}

.info-pic-caption {
    font-size: 16px;
    font-weight: 300;
    text-align: center;
}


/* QUOTE */

.quote-container {
    background-color: #e5e7eb;
    padding-top: 100px;
    padding-bottom: 100px;
}

.quote {
    color: #1f2937;
    font-size: 36px;
    font-style: italic;
    font-weight: 300;
}


.author {
    color: #1f2937;
    text-align: end;
    margin-right: 5%;
    font-weight: 600;
}




/* SIGN UP */

.signup {
    padding-top: 100px;
    padding-bottom: 100px;
}



.signup-box {
    color: white;
    background-color: #3882f6;
    border-radius: 10px;
    display: flex;
    padding: 32px 80px;
    flex-wrap: wrap;
}


.signup-box .left {
    flex: 2;
}

.signup-box .left > p {
    font-size: 20px;
    font-weight: 300;
}

.signup-box .left > p:first-child {
    font-weight: 600;
}


.signup-box .right {
    display: flex;
    justify-content: center;
    align-items: center;
}

.signup-box .right .signup-button {
    border: 2px solid white;
}

/* COPYRIGHT */

.copyright {
    background-color: #1f2937;
    color: #F9FAF8;
    font-weight: 300;
    text-align: center;
    padding-top: 32px;
    padding-bottom: 32px;
}