@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;500;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

ul {
    list-style: none;
}

li {
    padding: 0;
}


.narrow {
    padding-left: 300px;
    padding-right: 300px;
}

.narrow-2 {
    padding-left: 400px;
    padding-right: 400px;
}


/* HEADER */

header.header {
    color: #f9faf8;    
    background-color: #1f2937;
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
    padding-bottom: 10px;
}

.logo {
    font-size: 24px;
    font-weight: 800;
    color: #f9faf8;    
}

.links {
    display: flex; 
    gap: 24px;
    font-weight: 300;
}


.links a {
    text-decoration: none;
    color: #f9faf8;
}

.links a:hover {
    text-decoration: none;
    color: #afafaf;
}



/* OPENING */


.opening {
    color: white;
    background-color: #1f2937;
    display: flex;   
    gap: 16px;

    padding-top: 100px;
    padding-bottom: 100px;  
}


.opening h1 {
    font-size: 48px;
    font-weight: 900;
    color: #f9f1f8;
}

.opening p {
    font-size: 18px;
    font-weight: 300;
    color: #e5e7eb;
    margin-bottom: 10px;
}


.left {
    flex: 1;
}

.right {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center ;
    background-color: grey;
    font-weight: 300;
}

.signup-button {
    color: white;
    font-size: 16px;
    background-color: rgb(12, 130, 209);
    text-align: center;
    padding: 8px 32px;
    border: none;
    border-radius: 5px;
}


/* INFO */


.info {
    /* padding-top: 100px; */
    padding-bottom: 100px;  
}

.info h2 { 
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;
}

.info-pic-list {
    display: flex;
    gap: 48px;
    justify-content: space-around;
    
}

.info-pic {
    border: 4px solid rgb(35, 111, 224);
    /* height: 150px;
    width: 100%; */
    flex: 1 0 auto;
    aspect-ratio: 1/1;
    border-radius: 10px;;
}

.info-pic-caption {
    font-size: 16px;
    font-weight: 300;
    text-align: center;
}


/* QUOTE */

.quote-container {
    background-color: #e5e7eb;
    padding-top: 100px;
    padding-bottom: 100px;
}

.quote {
    color: #1f2937;
    font-size: 36px;
    font-style: italic;
    font-weight: 300;
}


.author {
    color: #1f2937;
    text-align: end;
    margin-right: 5%;
    font-weight: 600;
}




